@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>NWBA will not disclose any personal information to outside commercial entities.
    Information is kept only for banking functionality.</p>
