@model NWBA.ViewModels.ChangePasswordViewModel

@{
    ViewData["Title"] = "Change Password";
}

<h1>View</h1>

<h4>Login</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="ChangePassword">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Login.LoginID" />
            <input type="hidden" asp-for="Login.CustomerID" />
            <div class="form-group">
                <label asp-for="NewHash" class="control-label"></label>
                <input asp-for="NewHash" class="form-control" type="password" />
                @Html.ValidationMessage("Password", new { @class = "text-danger" })
                <span asp-validation-for="NewHash" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RepeatNewHash" class="control-label"></label>
                <input asp-for="RepeatNewHash" class="form-control" type="password" />
                @Html.ValidationMessage("Password", new { @class = "text-danger" })
                <span asp-validation-for="RepeatNewHash" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="Login.ModifyTime" />
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}

